/.deps
/.libs
/Makefile
/config.h
/config.log
/config.status
/libpcre.pc
/libpcrecpp.pc
/libtool
/pcre-config
/pcre.h
/pcre_stringpiece.h
/pcrecpparg.h
/stamp-h1
/*.o
/*.lo
/*.la
/pcre_chartables.c
/pcre_scanner_unittest
/pcre_stringpiece_unittest
/pcrecpp_unittest
/pcregrep
/pcretest
/libpcreposix.pc
